<section *ngIf="isAuthenticated else login">
  <mat-progress-bar mode="query" [ngClass]="{'show-bar': isLoading}"></mat-progress-bar>

  <mat-action-list dense>
    <h3 matSubheader>Workbooks</h3>
    <mat-list-item *ngFor="let workbook of driveItems" (click)="onWorkbookSelection(workbook)"
      [ngClass]="{'active': selectedDriveItem && workbook.name === selectedDriveItem.name}">
      {{ workbook.name }}
    </mat-list-item>
  </mat-action-list>

  <mat-action-list dense *ngIf="workSheets">
    <h3 matSubheader>Worksheets</h3>
    <mat-list-item *ngFor="let worksheet of workSheets" (click)="onWorksheetSelection(worksheet)"
      [ngClass]="{'active': selectedWorksheet && worksheet.name === selectedWorksheet.name}">
      {{ worksheet.name }}
    </mat-list-item>
  </mat-action-list>

  <mat-action-list dense *ngIf="tables?.length > 0">
    <h3 matSubheader>Tables for sheet {{ selectedWorksheet.name }}</h3>
    <mat-list-item *ngFor="let table of tables" (click)="onTableSelection(table)"
      [ngClass]="{'active': selectedTable && table.name === selectedTable.name}">
      {{ table.name }}
    </mat-list-item>
  </mat-action-list>
  <mat-list dense *ngIf="tables?.length == 0">
    <h3 matSubheader>No tables</h3>
  </mat-list>

  <mat-card class="rows" *ngIf="rows && selectedTable">
    <iframe style="width: 100%;" width="700" height="147" frameborder="0" scrolling="no"
      [src]="iframeUrl | safe"></iframe>
  </mat-card>
</section>

<ng-template #login>
  <div>
    <button mat-stroked-button color="primary" (click)="signIn()">Login</button>
  </div>
</ng-template>
