<section *ngIf="isAuthenticated else login">
  <mat-progress-bar mode="query" [ngClass]="{'show-bar': isLoading}"></mat-progress-bar>

  <mat-action-list dense>
    <h3 matSubheader>Worksheets</h3>
    <mat-list-item *ngFor="let worksheet of workSheets" (click)="onWorksheetSelection(worksheet)">
      {{ worksheet.name }}
    </mat-list-item>
  </mat-action-list>
  <pre>
    {{ selectedWorksheet | json }}
  </pre>

  <div *ngIf="tables">
    <p>Tables</p>
    {{ tables | json }}
  </div>
</section>

<ng-template #login>
  <button mat-stroked-button color="primary" (click)="signIn()">Login</button>
</ng-template>
